<footer class="mt-5">
    <div class="top-footer py-5">
        <div class="row">
            <div class="col-12 col-md-2">
                <a class="navbar-brand" href="#"><strong class="d-block">AVEIRO|market</strong></a>
                <a href="#"><i class="fa fa-facebook mr-1" aria-hidden="false"></i></a>
                <a href="#"><i class="fa fa-instagram mx-1" aria-hidden="false"></i></a>
                <a href="#"><i class="fa fa-twitter mx-1" aria-hidden="false"></i></a>
            </div>
            <div class="col-6 col-md-2">
                <h5 class="h6 mt-2">Main Pages</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Sell with us</a></li>
                    <li><a class="text-muted" href="#">About us</a></li>
                    <li><a class="text-muted" href="#">Contact Us</a></li>
                    <li><a class="text-muted" href="#">Promos</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2">
                <h5 class="h6 mt-2">Policy</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Terms of Usage</a></li>
                    <li><a class="text-muted" href="#">Privacy Policy</a></li>
                    <li><a class="text-muted" href="#">Return Policy</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2">
                <h5 class="h6 mt-2">Categories</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Food</a></li>
                    <li><a class="text-muted" href="#">Groceries</a></li>
                    <li><a class="text-muted" href="#">Health</a></li>
                    <li><a class="text-muted" href="#">Electronics</a></li>
                    <li><a class="text-muted" href="#">Apparel & Shoes</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <h5 class="h6 mt-2">Subscribe</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <p class="text-muted">Subscribe to our newsletter so that you can be the first to know about new
                            offers and promotions.</p>
                    </li>
                    <form class="form-inline my-2 my-lg-0 ml-auto">
                        <div class="bg-light rounded rounded-pill shadow-sm">
                            <div class="input-group">
                                <input type="search" placeholder="Enter Email Here" aria-describedby="button-addon1"
                                    class="form-control border-0 bg-light">
                                <div class="input-group-append">
                                    <button id="button-addon1" type="submit" class="btn btn-primary">Subscribe</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <span>&copy;2020. All Rights Reserved</span>
    </div>
</footer>