<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/"><strong>AVEIRO|market</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0 ml-auto">
        <div class="p-1 bg-light rounded rounded-pill shadow-sm">
          <div class="input-group">
            <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon1"
              class="form-control border-0 bg-light mr-sm-2">
            <div class="input-group-append">
              <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i
                  class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </form>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i> Account
          </a>
          {{> account_dropdown }}
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="languageDropdpwn" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-globe" aria-hidden="true"></i>
            English
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languageDropdown">
            <a class="dropdown-item" href="#">English</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Portuguese</a>
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>
<div class="subnav shadow-sm">
  <div class="container">
    <div class="navbar navbar-expand-lg">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {{# if sellers}}
          <li class="nav-item dropdown "><small><a href="/sellers" class="nav-link dropdown-toggle" id="sellersDropdown"
                aria-haspopup="true" aria-expanded="false">ALL SELLERS</a>
              <div class="dropdown-menu dropdown-menu" aria-labelledby="sellersDropdown">
                {{# each sellers}}
                <a class="dropdown-item" href="#">{{this}}</a>
                {{/ each}}
              </div>
          </li></small>
          {{else}}
          <li class="nav-item dropdown"><small><a href="#" class="nav-link dropdown-toggle disabled"
                id="sellersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ALL
                SELLERS</a>
              <div class="dropdown-menu dropdown-menu" aria-labelledby="sellersDropdown">
              </div>
          </li></small>
          {{/if}}
          <li class="nav-item"><small><a href="#" class="nav-link">FOOD</a></li></small>
          <li class="nav-item"><small><a href="#" class="nav-link">GROCERIES</a></li></small>
          <li class="nav-item"><small><a href="#" class="nav-link">HEALTH</a></li></small>
          <li class="nav-item"><small><a href="#" class="nav-link">ELECTRONICS</a></li></small>
          <li class="nav-item"><small><a href="#" class="nav-link">APPAREL & SHOES</a></li></small>
          <li class="nav-item"><small><a href="#" class="nav-link">PROMOS</a></li></small>
        </ul>
        <div class="ml-auto">
          <a href="/users/signup/seller" class="btn btn-primary"><small>SELL WITH US</small></a>
        </div>
      </div>
    </div>
  </div>
</div>