<section class="dashboard">
    <div class="container">
        <h1 class="h4 my-5">Dashboard</h1>
        {{# ifEquals user.userType 0}}
        {{> dashboard_customer}}
        {{ else ifEquals user.userType 1}}
        {{> dashboard_seller}}
        {{/ ifEquals}}
    </div>
</section>