<section class="dashboard">
    <div class="container">
        <h1 class="h4 my-5">Dashboard</h1>
        {{# if user.type.isCustomer}}
        {{> dashboard_customer}}
        {{ else if user.type.isSeller}}
        {{> dashboard_seller}}
        {{ else }}
        {{> dashboard_admin}}
        {{/ if}}
    </div>
</section>