<section class="signup">
    <div class="container mt-5">
        <h1 class="h3">EDIT PROFILE</h1>
        <form class="form w-100 p-5" role="form" method="post">
            <h2 class="h5">Personal Details</h2>
            <div class="form-row">
                <div class="col-md-6 mt-3 px-3">
                    <label for="firstName">First Name</label>
                    <input class="form-control" type="text" name="firstName" id="firstName">
                </div>
                <div class="col-md-6 mt-3 px-3">
                    <label for="lastName">Last Name</label>
                    <input class="form-control" type="text" name="lastName" id="lastName">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mt-3 px-3">
                    <label for="emailAddress">Email Address</label>
                    <input class="form-control" type="email" name="emailAddress" id="emailAddress">
                </div>
                <div class="col-md-6 mt-3 px-3">
                    <label for="mobileNumber">Mobile Number</label>
                    <input class="form-control" type="tel" pattern="[0-9]{9}" name="mobileNumber" id="mobileNumber">
                </div>
            </div>
            <div class="form-row mt-5 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </form>
    </div>
</section>