{{> index_carousel }}

<section class="trendy-sellers">
    <div class="heading mt-5">
        <h1 class="h4 mr-3">TRENDY SELLERS</h1>
        <small><a href="#"><u>SEE ALL</u></a></small>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 my-3">
                <div class="card bg-dark text-white">
                    <img src="/images/garrafeira-5estrelas.jpg" class="card-img" alt="Garrafeira 5 Estrelas">
                    <div class="flex-container">
                        <div class="card-img-overlay">
                            <img src="/images/garrafeira-logo.png" alt="Logo Garrafeira 5 Estrelas" style="width: 25%;">
                            <a href="#" class="btn btn-primary mt-3"><strong>SHOP NOW</strong></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 my-3">
                <div class="card bg-dark text-white">
                    <img src="/images/trendy-store.jpg" class="card-img" alt="Trendy Store">
                    <div class="card-img-overlay">
                        <div class="card-img-overlay">
                            <img src="/images/trendy-logo.png" alt="Logo Trendy Store" style="width: 25%;">
                            <a href="#" class="btn btn-primary mt-3"><strong>SHOP NOW</strong></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 my-3">
                <div class="card bg-dark text-white">
                    <img src="/images/mercearia-a-portuguesa.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <div class="card-img-overlay">
                            <img src="/images/mercearia-logo.png" alt="Logo Mercearia A Portuguesa" style="width: 25%;">
                            <a href="#" class="btn btn-primary mt-3"><strong>SHOP NOW</strong></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 my-3">
                <div class="card bg-dark text-white">
                    <img src="/images/farmacia-central.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <div class="card-img-overlay">
                            <img src="/images/farmacia-logo.png" alt="Logo Farmácia Central" style="width: 25%;">
                            <a href="#" class="btn btn-primary mt-3"><strong>SHOP NOW</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>