<section class="review">
    <div class="container mt-5">
        <form method="POST" action="">
            <h1 class="h3">Add review</h1>
            <div class="contents p-5">
                <h3 class="h5">Rating</h3>
                <div class="rateit" data-rateit-step="1" data-rateit-resetable="false" data-rateit-mode="font"
                    style="font-family:fontawesome">
                </div>
                <h3 class="h5 mt-3">Review</h3>
                <textarea class="form-control" id="inputDetails"></textarea>
                <button type="submit" class="btn btn-primary mt-3">Add Review</button>
            </div>
        </form>
    </div>
</section>