<section class="signup">
    <div class="container mt-5">
        <form class="form w-100 p-5" role="form" method="post" action="/users/signup/seller"
            enctype="multipart/form-data">
            <h2 class="h4 text-center mb-5">Welcome</h2>
            <div class="form-row d-flex flex-column align-items-center">
                <h3 class="h6 mb-3">Logo *</h3>
                <div class="input-group px-3 mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="images" id="logoInput"
                            aria-describedby="logoInputAddon" required>
                        <label class="custom-file-label" name="logoInput" for="logoInput">Choose file</label>
                    </div>
                </div>
                <h3 class="h6 mb-3">Banner *</h3>
                <div class="input-group px-3 mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="images" id="bannerInput"
                            aria-describedby="bannerInputAddon" required>
                        <label class="custom-file-label" name="bannerInput" for="bannerInput">Choose file</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mt-3 px-3">
                    <label for="firstName">Display Name *</label>
                    <input class="form-control" type="text" name="displayName" id="firstName" required>
                </div>
                <div class="col-md-6 mt-3 px-3">
                    <label for="lastName">Address *</label>
                    <input class="form-control" type="text" name="address" id="lastName" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mt-3 px-3">
                    <label for="emailAddress">Email Address *</label>
                    <input class="form-control" type="email" name="emailAddress" id="emailAddress" required>
                </div>
                <div class="col-md-6 mt-3 px-3">
                    <label for="mobileNumber">Mobile Number *</label>
                    <input class="form-control" type="tel" pattern="[0-9]{9}" name="mobileNumber" id="mobileNumber"
                        required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12 mt-3 px-3">
                    <label for="inputDescription">Description</label>
                    <textarea class="form-control" name="description" id="inputDescription"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mt-3 px-3">
                    <label for="facebook">Facebook</label>
                    <input class="form-control" type="text" name="facebook" id="facebook">
                </div>
                <div class="col-md-6 mt-3 px-3">
                    <label for="instagram">Instagram</label>
                    <input class="form-control" type="text" name="instagram" id="instagram">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mt-3 px-3">
                    <label for="password1">Password *</label>
                    <input class="form-control" type="password" name="password1" id="password1" required>
                </div>
                <div class="col-md-6 mt-3 px-3">
                    <label for="password2">Repeat Password *</label>
                    <input class="form-control" type="password" name="password2" id="password2" required>
                </div>
            </div>
            <div class="form-row">
                <div class="checkbox mt-3 px-3">
                    <label>
                        <input name="agree" type="checkbox"> Agree with <a href="#">Terms & Conditions</a>
                    </label>
                </div>
            </div>
            <div class="form-row mt-5 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </form>
    </div>
</section>