@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  font-family: "Roboto", sans-serif; }

body {
  background-color: #f7f7f7; }

a {
  color: #000; }
  a:hover {
    color: #000; }

input[type="text"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="file"],
input[type="number"] {
  border-radius: 10rem; }

.btn-primary,
.btn-secondary {
  border-radius: 10rem; }

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; }

.subnav {
  background-color: #fff; }

@media (max-width: 576px) {
  .subnav {
    background-color: inherit; } }

#login-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: white; }

#login-dp .help-block {
  font-size: 12px; }

#login-dp .bottom {
  background-color: white;
  border-top: 1px solid #ddd;
  clear: both;
  padding: 14px; }

#login-dp .form-group {
  margin-bottom: 10px; }

@media (max-width: 768px) {
  #login-dp {
    background-color: #fff; }
  #login-dp .bottom {
    background-color: #fff;
    border-top: 0 none; } }

footer {
  font-size: 0.8rem; }
  footer .top-footer {
    background-color: #e8e8e8;
    padding: 0 15%;
    width: 100%; }
  footer .bottom-footer {
    min-height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center; }

.trendy-sellers h1 {
  display: inline-block; }

.trendy-sellers .container > .row > .col-sm-12 {
  max-height: 250px;
  overflow: hidden; }
  .trendy-sellers .container > .row > .col-sm-12 .card {
    width: 100%;
    height: auto;
    position: relative;
    border: none;
    display: flex; }
    .trendy-sellers .container > .row > .col-sm-12 .card .card-img {
      width: 100%;
      height: auto; }
    .trendy-sellers .container > .row > .col-sm-12 .card .card-img-overlay {
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }

.signup form {
  background-color: #fff; }

.dashboard .contents {
  background-color: #fff; }
  .dashboard .contents .user-picture {
    max-width: 100px; }
  .dashboard .contents #edit-profile {
    display: flex;
    justify-content: end; }
  .dashboard .contents table {
    margin-bottom: 0; }

#catalog .container > .row > .col-12 {
  overflow: hidden; }
  #catalog .container > .row > .col-12 .card {
    width: 100%;
    position: relative;
    display: flex; }
    #catalog .container > .row > .col-12 .card .card-img-top {
      width: 100%;
      height: 15vw;
      min-height: 15vw;
      object-fit: cover; }

#type {
  padding: 5px;
  border: 1.2px solid #c4cbd1;
  border-radius: 50rem;
  display: flex;
  justify-content: space-around; }

@media (max-width: 768px) {
  .dashboard .contents #edit-profile {
    justify-content: center; }
  #catalog .container > .row > .col-12 .card .card-img-top {
    height: 60vw; } }

@media (max-width: 992px) {
  #catalog .container > .row > .col-12 .card .card-img-top {
    height: 25vw; } }

.rateit .rateit-selected {
  color: #5f4dee; }

.rateit .rateit-hover {
  color: #9e93f5; }

.rateit .rateit-preset {
  color: #5f4dee; }

.sellers .container > .row > .col-sm-12 {
  max-height: 250px;
  overflow: hidden; }
  .sellers .container > .row > .col-sm-12 .card {
    width: 100%;
    height: auto;
    position: relative;
    border: none;
    display: flex; }
    .sellers .container > .row > .col-sm-12 .card .card-img {
      width: 100%;
      height: auto; }
    .sellers .container > .row > .col-sm-12 .card .card-img-overlay {
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }

.cart .contents #product {
  background-color: #fff; }

.cart .contents img {
  width: 100px;
  height: 100px;
  object-fit: cover; }

.cart .contents .row {
  margin: 0; }

.product-page .product-img {
  width: 90%;
  max-height: 90%;
  object-fit: cover; }

.product-page .img-thumbnail {
  width: 75px;
  max-height: 75px;
  object-fit: cover; }

.seller-page .seller-logo {
  border-radius: 10rem !important;
  max-width: 150px; }

/*# sourceMappingURL=style.css.map */